html, body, .wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CA9883;
}

.phone-checker {
  background-color: #43305E;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  min-width: 20rem;
  text-transform: uppercase;
}

.phone-checker__input {
  background-color: #F7C3CF;
  width: 60%;
  margin: 1rem;
  text-align: center;
  font-size: 2rem;
}

.phone-checker__btn {
  background-color: #8C56B6;
  width: 40%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.phone-checker__btn > span {
  letter-spacing: 1rem;
  margin-left: 1rem;
}

.phone-checker__info_success {
  color: green;
}

.phone-checker__info_fail {
  color: red;
}