html, body, .wrapper {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stopwatch-container {
  background-color: black;
  border-radius: 1.5rem;
  max-width: 26rem;
  min-width: 26rem;
}

.stopwatch {
  padding: 1.5rem;
}

.stopwatch__screen {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;
  padding: 2rem 0;
}

.stopwatch__menu {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem .5rem 0;
}

.stopwatch__menu > span {
  cursor: pointer;
}

#minutes, #seconds, #milliseconds {
  width: 3rem;
}
