html {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-width: 53rem;
  height: 38.4rem;
  background-image: url(../img/background.jpeg);
  background-color: rgba(0, 0, 0, 0.73);
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.container {
  width: 53rem;
  margin: 0 auto;
}

.header {
  padding: 2rem 0;
}

.logo {
  color: white;
  display: inline-block;
  width: 25%;
}

.logo a {
  text-decoration: none;
  color: white;
}

.logo a:hover {
  color: #f26522;
  transition: all .4s;
  cursor: pointer;
}

.logo a:hover .logo__img {
  background-image: url(../img/castle-hover.png);
  transition: all .4s;
}

.logo__img {
  background-image: url(../img/castle.png);
  width: 2.3rem;
  height: 2.1rem;
  display: inline-block;
}

.logo__title {
  display: inline-block;
  width: 2rem;
  margin-left: 1rem;
}

.logo__title span:first-of-type {
  font-size: 1.45rem;
}

.logo__title span:nth-child(2) {
  font-size: .9rem;
}

.contacts {
  display: inline-block;
  color: white;
  text-align: right;
  float: right;
  font-size: .9rem;
}

.contacts > a {
  display: block;
  text-decoration: none;
  color: white;
}

.main {
  width: 100%;
  margin: 0 auto;
  text-align: justify;
}

.main:after {
  content: "";
  width: 100%;
  display: inline-block;
}

.card {
  display: inline-block;
  width: 15.35rem;
  height: 28%;
  text-align: center;
}

.card > .product-img {
  height: 10rem;
  background-size: 100% 100%;
  position: relative;
  border: 1px solid;
  border-image: linear-gradient(0deg, #000, #fff);
  border-image-slice: 1;
}

.product-img__price {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  color: white;
  padding: 0.6rem 0;
}

.card:hover {
  cursor: pointer;
}

.card:hover .product-img__price {
  height: 20%;
  background-color: #f26522;
  transition: all .4s;
}

.card__title {
  color: white;
  margin-bottom: 2rem;
  margin-top: .5rem;
  font-size: .9rem;
}

.card:hover .card__title {
  color: #f26522;
}

.card:nth-child(1) > .product-img {
  background-image: url(../img/pic01.jpeg);
  background-repeat: no-repeat;
}

.card:nth-child(2) > .product-img {
  background-image: url(../img/pic02.jpeg);
  background-repeat: no-repeat;
}

.card:nth-child(3)> .product-img {
  background-image: url(../img/pic03.jpeg);
  background-repeat: no-repeat;
}

.card:nth-child(4) > .product-img {
  background-image: url(../img/pic04.jpeg);
  background-repeat: no-repeat;
}

.card:nth-child(5) > .product-img {
  background-image: url(../img/pic05.jpeg);
  background-repeat: no-repeat;
}

.card:nth-child(6) > .product-img {
  background-image: url(../img/pic06.jpeg);
  background-repeat: no-repeat;
}

.product-img__price > div {
  display: inline-block;
}

.product-img__price::after {
  content: "";
  width: 100%;
  display: inline-block;
}

.product-img__price > div > span {
  display: block;
}

.product-img__price div span:first-of-type {
  font-size: .6rem;
}

.product-img__price div:first-of-type {
  text-align: left;
  padding-top: .15rem;
  padding-right: 7rem;
}

footer {
  color: white;
  font-size: .6rem;
  text-align: center;
  bottom: 0;
}
