html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.wrapper {
    width: 750px;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    overflow: hidden;
}

header {
    height: 236px;
    background-color: #2e7153;
    position: relative;
}

.logo, .description, .nav-btn, .address, .contacts {
    position: absolute;
    top: 20%;
    width: 132px;
    height: 132px;
}

.logo {
    background-color: white;
    border-radius: 50%;
    left: 5%;
}

.description {
    left: 30%;
    vertical-align: middle;
}

.description>span {
    font-size: 22px;
    line-height: 1.5;
    color: white;
}

.nav-btn {
    right: 5%;
    width: 80px;
    height: 75px;
    top: 35%;
    line-height: 1.5;
}

.nav-btn>span {
    background-color: white;
    display: inline-block;
    width: 100%;
    height: 10px;
    border-radius: 5px;
}

section {
    height: 465px;
    background-image: url(../img/cabinet.jpg);
    background-repeat: no-repeat;
    position: relative;
}

.btn {
    width: 340px;
    height: 75px;
    background-color: #cb9223;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -170px;
    line-height: 75px;
    font-size: 0;
    z-index: 1;
}

.btn>span {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    padding: 1.5rem 2.2rem;
}

section::after {
    content: "";
    width: 750px;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    left: 10px;
    bottom: 20px;
}

article {
    background-color: white;
    position: relative;
    height: 1030px;
    font-size: 25px;
}

p {
    display: inline-block;
}

.avatar {
    border-radius: 50%;
    margin: 50px 70px 10px 45px;
}

h3 {
    font-weight: normal;
}

.desc {
    position: relative;
}

.desc > div {
    display: inline-block;
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

ul {
    padding: 0;
}

li::before {
    content: "- ";
}

footer {
    position: relative;
    height: 152px;
    background-color: #898989;
}

footer > .logo {
    width: 95px;
    height: 95px;
}

.address {
    right: 32%;
}

.contacts {
    right: 5%;
    text-align: center;
    line-height: 3.0;
    padding: 30px 0;
}

.address, .contacts {
    color: white;
    top: 5%;
    width: 200px;
}

.address > span {
    bottom: 20px;
    position: absolute;
}

.contacts > a {
    color: white;
    text-decoration: none;
    align-content: center;
}
