@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?6g0vi7');
  src:  url('../fonts/icons.eot?6g0vi7#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?6g0vi7') format('truetype'),
    url('../fonts/icons.woff?6g0vi7') format('woff'),
    url('../fonts/icons.svg?6g0vi7#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-loupe:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}
.icon-bag:before {
  content: "\e904";
}
.icon-location:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90a";
}
.icon-youtube:before {
  content: "\e90b";
}
.icon-pinterest:before {
  content: "\e90c";
}
