:root {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  color: #354657;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 1.2rem;
  margin-top: 2rem;
}

/* wrap card */
.wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 2rem;
  margin-top: 2rem;
}

.card {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
}

.card__img img {
  width: 100%;
}

.card__title {
  font-size: 2rem;
}

.card__description {
  font-weight: 400;
  font-size: 1.2rem;
}

.card__btn > input {
  width: 50%;
  padding: 1.5rem 0;
  background-color: white;
  border-radius: 50px;
  border: 2px solid #946FD3;
  color: #946FD3;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
}

.card:hover input {
  background-color: #946FD3;
  border-color: white;
  color: white;
  transition: all .7s;
}

/* contacts */
.header {
  background-color: #F4EFFA;
  margin: 7rem 0 3rem;
  padding: 1rem 0;
}

.header > .container > div:nth-child(1),
.header__menu > ul,
.footer > .container,
.footer__menu > ul {
  display: flex;
  align-items: center;
}

.header__icons {
  flex-grow: 2; 
}

.header__menu {
  flex-grow: 1;
}

.header__menu ul, .footer__menu ul {
  list-style: none;
  justify-content: space-around; 
}

.footer__logo, .footer__menu {
  flex-grow: 1;
}

.header__menu, .footer__menu ul {
  padding-left: .3rem;
}

.footer__icons {
  flex-grow: 4;
  letter-spacing: .3rem;
}

.header__menu a, .footer__menu a {
  color: #354657;
  font-size: 1.2rem;
  padding: 2rem .5rem;
}

.header__icons {
  font-size: 1.5rem;
  letter-spacing: .7rem;
  text-align: right;
  min-width: 9rem;
}

.header__icons > span, 
.footer__icons > span,
.header__path > span:nth-child(1),
.header__path > span:nth-child(3),
.header__path > span:nth-child(5) {
  cursor: pointer;
}

.header__path {
  margin-top: 1.5rem;
  word-spacing: .5rem;
}

.header__path > span:nth-child(3) {
  text-decoration: underline;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 400px;
  gap: 0 1.5rem;
}

.order-consult {
  background-color: #F0F2F5;
}

.order-item {
  display: flex;
}

.order-item__title {
  font-size: 1.5rem;
}

.icon-location, .icon-phone, .icon-mail {
  border: 1px solid #D6D9DE;
  padding: 2rem; 
  border-radius: 50%;
  margin: 0 2rem;
  position: relative;
  top: 1.2rem;
  font-size: 1.5rem;
}

.order-item > div:last-of-type {
  display: flex;
  flex-direction: column;
}

.order-item__content a {
  display: block;
  color: #946FD3;
}

.order-consult > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85%;
  margin: 0 auto;
}

/* button */
.order-consult__btn {
  padding: 1rem 0;
  background-color: #946FD3;
  border-radius: 5rem;
  text-align: center;
  min-width: 22rem;
}

.order-consult__btn a {
  color: white;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  width: 100%;
  white-space: nowrap;
}

.contacts > :last-child {
  width: 100%;
  height: 100%;
}

.header + .title {
  margin-bottom: 3rem;
}

.footer {
  border-top: 1px solid #E2E2E2;
  margin-top: 5rem;
  padding: 2rem 0;
}

.footer__icons {
  font-size: 2.2rem;
  text-align: right;
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 15px;
  }

  .wrap {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .card__title, .card__description, .card {
    margin: 1rem 0;
  }

  .card__btn > input {
    width: 100%;
  }

  .contacts {
    grid-template-columns: 1fr;
    gap: 1rem 0;
  }

  .header > .container > div:nth-child(1),
  .footer > .container {
    flex-direction: column;
  }

  .header__icons, .footer__icons {
    margin: 1.5rem 0;
  }
}