:root {
  font-size: 10px;
}

@font-face {
  font-family: "Nico Moji";
  src: url(../fonts/NicoMoji-Regular.ttf);
}

.container {
  width: 60%;
  margin: 0 auto;
  font-size: 2rem;
}

.header, .footer {
  display: flex;
}

.header__address > span {
  text-decoration: line-through;
}

.header__logo, .header__address {
  width: 30%;
}

.header__logo > div:first-of-type {
  font-family: "Nico Moji";
  font-size: 3rem;
  color: #175FAD;
}