.container {
  height: 100px;
}

.container:hover>.item:nth-child(1) {
  top: 10px;
}

.container:hover>.item:nth-child(2) {
  top: 20px;
}

.container:hover>.item:nth-child(3) {
  top: 30px;
}

.container:hover>.item:nth-child(4) {
  top: 40px;
}

.container:hover>.item:nth-child(5) {
  top: 50px;
}

.item {
  top: 0;
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
  transition: all 1s;
}

.item:nth-child(1) {
  background-color: green;
}

.item:nth-child(2) {
  background-color: blue;
}

.item:nth-child(3) {
  background-color: blueviolet;
}

.item:nth-child(4) {
  background-color: coral;
}

.item:nth-child(5) {
  background-color: darkgray;
}