.banner {
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  padding: 6rem 0;
  animation: banner 2s; 
}

.banner__title {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.6rem;
}

.banner__description {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.row > .banner__title,
.row > .banner__description,
.row > .col-6 {
  padding: 0;
  font-family: Raleway;
}

.my_c-f {
  background-color: #F0E6FF;
  margin: 7rem 0;
  font-family: Raleway;
  font-weight: 700;
  padding: 1.5rem 0;

  .my_c-f__row {
    margin: 0 auto;
  }
}

.my_c-f__info > p:first-of-type, .content__title {
  font-size: 1.8rem;
  line-height: 1.7rem;
  color: #354657;
  font-weight: 700;
}

.content__title, .content__description {
  font-family: Raleway;
  color: #354657;
}

.content {
  margin: 5rem 0;
}

.content__description {
  margin: 2rem 0;
}

.content__img > img {
  width: 80%;
  box-shadow: .9rem .9rem 0 #F0E5FF;
}

.my_c-f__info > div {
  color: #946FD3;
  text-transform: uppercase;
}

.my_c-f__info > input[type=button], .content__btn, .banner__btn {
  color: white;
  background-color: #946FD3;
  border: none;
  border-radius: 50px;
  font-size: .9rem;
  width: 35%;
  padding: .8rem 3rem;
  margin-top: .5rem;
  font-weight: 700;
}

.row > .banner__btn {
  width: 17%;
}

.bottle-01, .bottle-02 {
  position: absolute;
  width: 40%;
}

.bottle-01 > img, .bottle-02 > img {
  width: 100%;
}

.bottle-01 {
  top: -17%;
  right: 48%;
  animation: animation_01 1s linear infinite;
  -webkit-animation: animation_01 1s linear infinite;
}

.bottle-02 {
  top: -52%;
  right: 25%;
  animation: animation_02 2s linear infinite;
  -webkit-animation: animation_02 2s linear infinite;
}

@keyframes animation_01 {
  from {
    transform: rotate(0) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(2);
  }

  to {
    transform: rotate(360deg) scale(1);
  }
}

@-webkit-keyframes animation_01 {
  from {
    -webkit-transform: rotate(0) scale(1);
  }

  50% {
    -webkit-transform: rotate(180deg) scale(2);
  }

  to {
    -webkit-transform: rotate(360deg) scale(1);
  }
}

@keyframes animation_02 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes animation_02 {
  from {
    -webkit-transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes banner {
  from {
    transform: translate(-100%);
  }

  to {
    transform: translate(0);
  }
}