:root {
  font-family: 'Raleway', sans-serif;
}

.container__title {
  font-size: 1.7rem;
  font-weight: 700;
  color: #354657;
  padding: 2rem 0 .5rem;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 2.2rem;
}

.card-element {
  border: none;
  cursor: pointer;
  color: #354657;
  transition: transform 1.5s;
  background-clip: content-box;
  margin-bottom: 2rem;
}

.my-card-body {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.my-card-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.my-card-text {
  font-size: .9rem;
}

.my-btn {
  background-color: white;
  color: #946FD3;
  border-color: #946FD3;
  border-width: 2px;
  border-radius: 50px;
  font-size: .8rem;
  width: 50%;
  position: absolute;
  bottom: 0;
}

.card-element:hover {
  transform: scaleX(-1);
  background-color: #946FD3;
  color: transparent;
}

.card-element:hover .my-btn {
  display: none;
}

@media screen and (max-width: 767px) {
  .my-btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .my-card-body {
    padding-bottom: 5rem;
  }
}