.outline {
    color: blueviolet;
    border: 1px solid green;
    width: 600px;
    height: 600px;
}

.block {
    min-width: 500px;
    max-width: 800px;
    height: 400px;
    font-family: Arial;
}