html, body, .wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
}

.wrapper {
  background-color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container {
  background-color: green; 
  width: 60%;
}