html, body, .wrapper {
  width: 100%;
  height: 100%;
}

.wrapper, .circles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.paint-circles-btn {
  border-radius: 50px;
  background-color: lightseagreen;
  border: 1px solid grey;
  padding: 1rem;
  box-shadow: 2px 4px 1px grey;
  margin: 1rem;
}

.paint-circles-btn:hover {
  cursor: pointer;
}

.paint-circles-btn:active {
  box-shadow: none;
  border: 2px solid grey;
  position: relative;
  top: 3px;
  left: 2px
}

.circles-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.circle-item {
  width: 8%;
  display: flex;
  padding: 1%;
}

.simple-circle {
  border-radius: 50%;
  border: 1px solid grey;
}