:root {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
}

.header {
  background-image: url(../img/bridge.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.nav {
  padding-top: 1.5rem;
}

.burger-menu {
  background-color: #F7654A;
  padding: .6rem .8rem .7rem;
  float: right;
  cursor: pointer;
}

.burger-menu > a {
  margin: 0 .3rem;
}

.title, .subtitle, .burger-menu a {
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.title {
  font-size: 3.2rem;
  font-weight: 500;
  width: 80%;
  margin: 1.5rem auto 0;
}

.subtitle {
  font-size: .9rem;
  font-weight: 400;
  margin: 1rem auto 4rem;
}

.info {
  background-color: #F7F7F7;
  font-weight: 500;
  color: #F7654A;
  font-size: 3.6rem;
  overflow: hidden;
  padding: 1rem 5% 0;
  text-align: center;
}

.info-bottom {
  background-color: #F7F7F7;
  padding: 0 5% 2rem;
  overflow: hidden;
}

.info-bottom > div {
  width: 20px;
  text-align: center;
}

.info-bottom > div > span {
  display: block;
}

.info > div, .info-bottom > div {
  float: left;
  width: 25%;
}

.main__info > div {
  text-align: center;
}

.info-bottom > div > span:first-of-type, .main__title {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.main__title {
  text-align: center;
  padding: 3rem 0;
}

.info-bottom > div > span:nth-child(2) {
  font-size: .9rem;
  color: #999999;
}

.card {
  width: 32%;
  display: inline-block;
}

.card__line {
  background-color: #F7654A;
  width: 2.2rem;
  height: .3rem;
  margin: 1rem 0 .5rem;
}

.card__title {
  text-align: start;
  margin-bottom: .5rem;
}

.card__description {
  font-size: .6rem;
  color: #999999;
  font-family: 'Open Sans', sans-serif;
}

section {
  text-align: justify;
}

section::after {
  content: "";
  width: 100%;
  display: inline-block;
}

.image img {
  width: 100%;
}

.footer {
  background-color: #F7654A;
  text-transform: uppercase;
}

.footer > .container {
  overflow: hidden;
}

.footer .container > div:first-of-type {
  float: left;
  color: white;
  font-weight: 700;
  padding: 1rem 0;
}

.footer__title {
  font-size: 2rem;
}

.footer__desc {
  font-size: 1rem;
}

.footer > .container > div:nth-child(2) {
  float: right;
}

.footer__mail  {
  font-size: .7rem;
  font-weight: 500;
  margin: 2.7rem 0;
}

.footer__mail a {
  color: black;
  padding: .5rem 2rem;
  background-color: white;
}

.footer__mail i {
  width: 1.5rem;
}