html {
  font-size: 20px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  min-width: 47.5rem;
  font-family: "MyriadPro-Regular", Courier, monospace;
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: local("MyriadPro-Regular"), 
       url(../fonts/myriadpro-regular.otf);
}

header > nav {
  margin-bottom: 1.5rem;
  background-color: #35444f;
}

header > nav > ul {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
}

.logo a {
  font-size: 4rem;
  color: black;
  text-decoration: none;
}

header .nav a {
  line-height: 2.5rem;
  padding: .1rem 0.8rem;
  text-decoration: none;
  color: white;
  font-size: .9rem;
  display: inline-block;
}

header nav a:hover {
  background-color: #222f3a;
  box-shadow: inset 0 0 0 .05rem #818181;
}

.main nav a, footer .nav a {
  text-decoration: none;
  color: black;
}

.logo span {
  color: #4bcaff;
}

.nav__item {
  list-style: none;
}

.main {
  text-align: justify;
}

.main::after {
  content: "";
  width: 100%;
  display: inline-block;
}

.container__image img {
  margin: 3rem 0;
}

.container {
  width: 70%;
  right: 0;
  margin-left: auto;
  margin-right: 0;
}

.main .nav {
  width: 27%;
  border: .05rem solid #35444f;
}

.nav__item, footer > nav, .footer__copyright {
  display: inline-block;
}

.main .nav__item {
  display: list-item;
  line-height: 100%;
}

.main .nav ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.main .nav a {
  color: rgba(73, 88, 99, 255);
  display: inline-block;
  padding: 1rem 0 1rem 1.5rem;
  width: 100%;
  transition: 1s;
}

.main .nav a:hover {
  color: black;
  background-color: #dbdbdb;
  width: 100%;
  padding-left: 2.5rem;
  transition: 1s;
}

.main .nav, .container {
  display: inline-block;
  vertical-align: top;
}

.container__image {
  border: .05rem solid #35444f;
  text-align: center;
  line-height: 0;
}

.container__article p {
  padding: 1rem 1.5rem;
  color: rgba(44, 44, 44, 255); 
}

.footer {
  background-color: #b4b7ba;
  text-align: justify;
  height: 3rem;
}

.footer::after {
  content: "";
  width: 100%;
  display: inline-block;
}

.footer__copyright {
  margin-right: 1.5rem;
  font-size: 0.8rem;
}

footer .nav a {
  padding: 0 .4rem;
}

footer .nav a:hover {
  text-decoration: underline;
  color: #3181a6;
}