html {
  font-size: 20px;
  letter-spacing: .15rem;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: white;
  box-shadow: 2px 2px 10px gray;
  max-height: 4rem;
}

.header__nav {
  list-style: none;
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

.header a {
  color: #16a085;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  padding: 1.5rem 0;
}

.header__nav-item {
  display: inline-block;
  width: 24%;
  font-size: .9rem;
  text-transform: uppercase;
  text-align: center;
}

.container img {
  width: 100%;
}

.button {
  background-color: #16a085;
  width: 9.6rem;
  height: 2.55rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.container {
  text-align: center;
  background-color: #f5f6f7;
  color: rgba(55, 55, 55, 255);
  padding-bottom: 2.5rem;
}

.title {
  text-transform: uppercase;
}

.button span {
  color: white;
  text-transform: uppercase;
  font-size: .6rem;
  padding: 1.5rem 0;
  line-height: 2.8rem;
}

.button {
  margin: 1.5rem auto;
}

.footer {
  text-align: right;
  padding: 2rem 3rem 2rem 0;
}