:root {
  font-size: calc(20px*.71);
  font-family: 'Raleway', sans-serif;
  color: #354657;
}

html, body {
  margin: 0;
  height: 100%;
}

.wrapper {
  height: 100%;
  padding: 5rem 0;
  min-width: 1366px;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: .9rem;
}

.container {
  width: 70%;
  margin: 0 auto;
}

aside, section {
  display: inline-block;
  vertical-align: top;
}

aside {
  width: 30%;
}

section {
  width: 68%;
  float: right;
}

article {
  background-color: #F0F2F5;
  padding: 1rem;
  margin: 1rem 0;
}

.title {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

article > label {
  font-size: .7rem;
  font-weight: 400;
}

article > input {
  font-size: .7rem;
}

input {
  margin-bottom: 1rem;
}

div > label {
  display: block;
}

label {
  margin-bottom: .5rem;
  cursor: pointer;
}

/* Hide input radio */
input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.radio-btn {
  width: 1rem;
  height: 1rem;
  border: 1px solid #946FD3;
  position: absolute;
  border-radius: 50%;
  padding: .15rem;
  box-sizing: border-box;
  background-clip: content-box;
  margin-top: .2rem;
}

input[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.check-box {
  width: .9rem;
  height: .9rem;
  border: 1px solid #946FD3;
  position: absolute;
  margin-left: -1.5rem;
  margin-top: .25rem;
  padding: .15rem;
  box-sizing: border-box;
  background-clip: content-box;
}

textarea ~ label {
  padding-left: 1.5rem;
}

input[type=checkbox]:checked + .check-box {
  background-color: #946FD3;
}

input[type=radio] ~ label {
  padding-left: 1.5rem;
  padding-right: 2rem;
}

input[type=radio]:checked + .radio-btn {
  background-color: #946FD3;
}

.container-input {
  font-size: .7rem;
}

.container-input > input {
  max-width: 100%;
  min-width: 90%;
  height: 2rem;
  padding: 0 1rem;
}

/* Set placeholder color */
::-webkit-input-placeholder {
   color: #ADA8A8;
   font-size: .7rem;
}
:-moz-placeholder {
   color: #ADA8A8;
   font-size: .7rem;
}
::-moz-placeholder {
   color: #ADA8A8;
   font-size: .7rem;
}
:-ms-input-placeholder {
   color: #ADA8A8;
   font-size: .7rem;
}

.backet {
  width: 100%;
  color: #354657;
}

.backet td {
  width: 20%;
}

td.backet__title {
  text-align: right;
}

.backet__title {
  font-size: .7rem;
  font-weight: 700;
  width: 100%;
  text-transform: uppercase;
}

.backet > tbody > tr:first-of-type {
  background-color: #F0F2F5;
}

td {
  border: none;
  padding: .7rem .4rem;
}

textarea {
  width: 100%;
  height: 4rem;
  padding: .5rem;
  margin: .5rem 0;
  resize: none;
}

input[type=submit] {
  background-color: #946FD3;
  border-radius: 5rem;
  border: transparent;
  width: 11rem;
  height: 2rem;
  color: white;
  font-size: .8rem;
  cursor: pointer;
  float: right;
  margin: 2rem 0;
}

section > article:last-child {
  height: 15rem;
}

.price {
  text-align: center;
}

.delivery-price {
  background-color: #FAFAFA;
}

.order-amount {
  width: 25%;
}

.order-amount::-webkit-inner-spin-button {
  opacity: 1;
}

.refresh {
  background-color: #946FD3;
  padding: .3rem;
}

.delete-position {
  padding: .3rem .5rem;
}

.order-amount, .refresh, .delete-position {
  cursor: pointer;
  margin: 0 .2rem;
}

.delete-position {
  background-color: #F83737;
}